<style>
    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    font-face {
        font-family: myFirstFont;
        src: url(sansation_light.woff);
    }

    font-face {
        font-family: myFirstFont;
        src: url(sansation_bold.woff);
        font-weight: bold;
    }

    * {
        font-family: myFirstFont;
    }
</style>

<h1 style="color:midnightblue"> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; EVENT BOOKING</b></h1>
<img src="~/Content/pop.jpg" widhth="850" height="500">
<h1>MOVIE LAUNCH EVENT</h1>
<h3>In Cinema Crave($100)</h3>
<a href="../Home/BOOK_EVENT"> <button> BOOK CINEMA FOR EVENT</button></a>
<br></br></br>
<img src="~/Content/pppp.jpg" width="700" height="500">
<h1>BIRTHDAY EVENT</h1>
<h3>In Cinema Crave($100)</h3>
<a href="../Home/BOOK_EVENT1"> <button> BOOK CINEMA FOR EVENT</button></a>
<br></br></br>
<img src="~/Content/ppp.jpg" width="750" height="500">
<h1>PARTY EVENT</h1>
<h3>In Cinema Crave($100)</h3>
<a href="../Home/BOOK_EVENT2"> <button> BOOK CINEMA FOR EVENT</button></a>